<!DOCTYPE html>
<html>

<head>
  <title>Full Stack MB</title>
  <meta charset="urf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css">
  <link rel="stylesheet" href="assets/stylesheets/style.css">
  <link rel="stylesheet" href="http://fullstackmb.ca/assets/stylesheets/pnotify.custom.min.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="assets/scripts/moment.min.js"></script>
</head>

<body>
  <div id="app" class="container" :class="{ 'drawer-open': isMenuVisible }">
    <header>
      <div class="nav-social">
        <ul class="nav-menu">
          <li><a @click="closeMenu()" href="#next-event">Next Event</a></li>
          <li><a @click="closeMenu()" href="#upcoming-events">Upcoming Events</a></li>
          <li><a @click="closeMenu()" href="#subscribe">Subscribe</a></li>
          <li><a @click="closeMenu()" href="#sponsors">Sponsors</a></li>
          <li><a @click="closeMenu()" href="#contact-us">Contact Us</a></li>
        </ul>
        <div class="social-icons">
         <a title="Join us on Slack." class="sm-link" href="">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x color-slack"></i>
                <i class="fa fa-stack-1x fa-slack"></i>
              </span>
              Join
            </a>
            <a title="Follow us on Twitter." class="sm-link" href="https://twitter.com/wpgnetug" target="_blank">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x color-twitter"></i>
                <i class="fa fa-stack-1x fa-twitter"></i>
              </span>Follow
            </a>
            <a title="Like us on Facebook" class="sm-link" href="https://www.facebook.com/winnipegdotnet" target="_blank">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x color-facebook"></i>
              <i class="fa fa-stack-1x fa-facebook"></i></span>Like
            </a>
            <a title="Subscribe to our YouTube channel to get notifications" class="sm-link" href="https://www.youtube.com/channel/UC6OzdI6-htXE_97zamJRaaA" target="_blank">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x color-youtube"></i>
                <i class="fa fa-stack-1x fa-youtube-play"></i></span>Subscribe</a>
            <a title="Fork us on GitHub and collaborate" class="sm-link" href="https://github.com/WpgDotNetUG/WebsiteV2_Elm" target="_blank">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x color-github"></i>
                <i class="fa fa-stack-1x fa-github"></i></span>Fork
            </a>
          </div>
        <button @click="closeMenu()" class="button-close"><i class="fa fa-close"></i></button>
      </div>
      <div class="logo-menu"><img src="assets/images/logo.png">
        <section class="motto">
          <header>Full Stack MB</header>
          <div class="description">A dynamic group of serverless go getters who see sharp in the folds of lambdas,
            microservices, and rainbows!</div>
        </section>
        <div class="main-menu"><a target="_blank" title="Open Event Brite page"
            href="https://www.meetup.com/fullstackmb/events/">Events</a><a title="Watch past presentations"
            href="#watch-us">Videos</a><a title="Contact us" href="#contact-us">Contact</a></div>
        <button @click="openMenu()" class="button-open"><i class="fa fa-bars"></i></button>
      </div>
    </header>
    <section class="next-event section"><a id="next-event"></a>
      <header class="header">Next Event</header>
      <article v-if="!nextEvent">
        <div ><i class="fa fa-spin fa-spinner fa-5x"></i></div>
      </article>
      <article v-if="nextEvent">
        <div class="event-img"><img v-bind:src="nextEvent.logo" alt="event logo"></div>
        <div class="event-info">
          <div class="title">{{ nextEvent.title }}</div>
          <div class="description" v-html="nextEventDescriptionHtml">
        </div>
        <div class="presenter"></div>
        <div class="details">
          <div class="date">
            <div class="icon"><i class="fa fa-calendar"></i></div>{{ nextEvent.date | formatLongDate }}
          </div>
          <div class="venue">
            <div class="icon"><i class="fa fa-map-marker"></i></div>
            <div class="name">{{ nextEvent.venue.name}}</div>
            <div class="address">{{ nextEvent.venue.address }}</div>
          </div>
        </div>
        <footer><a target="_blank" class="button -large"
            :href="nextEvent.link">Count me in!</a></footer>
      </article>
    </section>
    <section class="past-events section"><a id="upcoming-events"></a>
      <header>Upcoming Events</header>
      <article>
        <div class="past-event" v-for="item in upcomingEvents" :key="item.id">
          <div class="image"><img v-bind:src="item.logo" alt="logo for upcoming event"></div>
          <div class="info">
            <div class="title">{{ item.title }}</div>
            <div class="date">{{ item.date | formatShortDate }}</div>
            <div class="view"><a target="_blank" class="button -outline"
                v-bind:href="item.link">View</a></div>
          </div>
        </div>
      </article>
      <footer></footer>
    </section>
    <section class="featured-videos section"><a id="watch-us"></a>
      <header><span class="title">Full Stack MB</span><a target="_blank"
          href="https://www.youtube.com/channel/UC6OzdI6-htXE_97zamJRaaA"><i
            class="fa fa-youtube-play"></i><span>Subscribe</span></a></header>
      <article>
        <div class="video" v-for="item in videos" :key="item.link">
          <header><a target="_blank" v:bind:href="item.link"><img
                v-bind:src="item.thumbnail"></a></header>
          <div>{{ item.description }}</div>
        </div>
      </article>
    </section>
    <div class="list-n-twitter">
      <article class="subscribe"><a id="subscribe"></a>
        <header>Want to make sure you don't miss a meeting?</header>
        <div class="signup">Then take a minute and sign up for the Full Stack MB mailing list!</div>
        <div class="schedule">You can be on top of our event schedule, and all you need to do is check you email. Sign
          up now and don't miss another meeting.</div>
        <footer><a target="_blank" class="button -outline -large" href="http://eepurl.com/clTOr">Add me to the list</a>
        </footer>
      </article>
      <article class="twitter-stream">
        <header>
          <span class="tweets">Tweets </span><span class="by">by </span><a
            href="https://twitter.com/wpgnetug">@wpgnetug</a>
        </header>
        <article class="tweet-list">
          <div class="tweet" v-for="item in tweets" :key="item.id">
            <div class="user-image"><img
                v-bind:src="item.user.profile_image_url" v-bind:alt="item.user.screen_name"></div>
            <div class="content">
              <div class="user"><span class="handle">{{ item.user.screen_name }}</span><span class="name">{{ item.user.name }}</span></div>
              <div class="content" v-html="item.text"></div>
            </div>
          </div>
        </article>
      </article>
    </div>
    <section class="sponsors section"><a id="sponsors"></a>
      <header>Sponsors</header>
      <article>
        <div class="sponsor" v-for="item in sponsors" ><a target="_blank" v-bind:href="item.url" v-bind:title="item.name">
            <img v-bind:src="item.imgUrl" v-bind:alt="item.name"></a>
        </div>
      </article>
    </section>
    <section class="contact-us section"><a id="contact-us"></a>
      <header>Contact Us</header>
      <article>
        <div class="message">Looking to reach out directly to the Full Stack MB board? Click on the board member to ask
          your query.</div>
        <div class="members">
          <div class="member" v-for="item in board" v:bind:title="item.name">
            <div class="avatar"><img v-bind:src="item.imgUrl" v-bind:alt="item.name"></div>
            <div class="name">{{ item.name }}</div>
            <div class="role">{{ item.role }}</div>
            <div class="contact"><a class="button -outline -small"
                                    v-bind:href="item.contact | mailTo">{{ item.contact }}</a></div>
          </div>
        </div>
      </article>
    </section>
    <footer class="main-footer">
      <div class="menu"><a target="_blank" title="Open events page"
          href="https://www.meetup.com/fullstackmb/events/">Events</a><a title="Watch past presentations"
          href="#watch-us">Videos</a><a title="Contact us" href="#contact-us">Contact</a></div>
      <div class="copyright">© Full Stack MB 2020</div>
      <div class="version">2.1.0-e260e78</div>
    </footer>
    <div class="backdrop"></div>
  </div>
  <script>
   //  Events
    Vue.filter('formatLongDate', function(value) {
      if (value) {
        return moment(String(value)).format('dddd MMMM D, YYYY');
      }
    });
    Vue.filter('mailTo', function(value) {
      if (value) {
        return "mailto:winnipegdotnet@gmail.com?subject=ATTN: " + value;
      }
    });
    Vue.filter('formatShortDate', function(value) {
      if (value) {
        return moment(String(value)).format('MMMM D, YYYY');
      }
    });

    var app = new Vue({
      el: "#app",
      mounted () {
        this.getBoard();
        this.getSponsors();
        this.getEvents();
        this.getVideos();
        this.getTweets();
      },
      methods: {
        openMenu: () => {
          app.isMenuVisible = true; 
        },
        closeMenu: () => {
          app.isMenuVisible = false;
        },
        getTweets: () => {
         axios.get("https://winnipegdotnetugapi.azurewebsites.net/api/tweets")
            .then(response => {
              app.tweets = response.data.tweets.slice(0,5);
              console.log(response.data.tweets);
            })
            .catch(error => console.error(error));
        },
        getVideos: () => {
          axios.get("https://winnipegdotnetugapi.azurewebsites.net/api/videos")
            .then(response => {
              app.videos = response.data.videos.slice(0,3);
              console.log(response.data.videos);
            })
            .catch(error => console.error(error));
        },
        getBoard: () => {
          axios.get("https://winnipegdotnetugapi.azurewebsites.net/api/board")
            .then(response => {
                app.board = response.data.board;
                console.log(response.data);
            })
            .catch(error => console.error(error));
        },
        getEvents: () => {
          axios.get("https://winnipegdotnetugapi.azurewebsites.net/api/events")
            .then(response => {
              let events = response.data.events;
              if (events.length > 0) { 
                [app.nextEvent, ...app.upcomingEvents] = events; 
              }
              else {
                app.nextEvent = null;
                app.upcomingEvents = [];
              }
              console.log(response.data);
            })
            .catch(error => console.error(error));
        },
        getSponsors: () => {
          axios.get("https://winnipegdotnetugapi.azurewebsites.net/api/sponsors")
            .then(response => {
              app.sponsors = response.data.sponsors;
              console.log(response.data);
            })
            .catch(error => console.error(error));
        }
      },
      computed: {
        nextEventDescriptionHtml: function() {
          if (this.nextEvent) {
            return "<p>" + this.nextEvent.description.split('\n').join("</p><p>") + "</p>";
          }
          return "";
        }
      }, 
      data: function () { return {
        isMenuVisible: false,
        email: null,
        board: [],
        nextEvent: null,
        upcomingEvents: [ ],
        videos: [],
        tweets: [],
        sponsors: [] 
      }}})
  </script>

</body>

</html>
