---
layout: layouts/base
---
<section class="slack">
    <header class="header">Join our Slack Community</header>
    <article class="content site-content">
        <div class="container" id="app">
            <div class="slack-content">
                <div class="slack-icon">
                    <i class="fa fa-5x fa-slack"></i>
                </div>
                
                <article class="slack-message">
                    <p>Get an invite to our Slack group by entering your email below.</p>
                </article>

                <form class="slack-signup-form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" 
                               id="email" 
                               class="form-control" 
                               placeholder="you@domain.com">
                    </div>
                    
                    <div class="form-group">
                        <button id="signUpButton" 
                                type="button" 
                                class="button button-primary"
                            >
                            Join Community
                        </button>
                    </div>
                </form>
            </div>
           
        </div>
    </article>
    <link rel="stylesheet" href="/styles/slack.css">
</section>